body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background: #f7f1e3;
  color: #3d3d3d; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  margin: 0;
  padding: 0; }

p {
  line-height: 40px;
  margin: 0 20%; }

button,
.button {
  display: inline-block;
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 300;
  color: #b71540;
  border: 1px solid #b71540;
  border-radius: 10px;
  padding: 10px;
  background: transparent;
  transition: all 0.2s; }

button:hover,
.button:hover {
  color: #f7f1e3;
  border: 1px solid #b71540;
  background: #b71540;
  cursor: pointer; }

h1 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #b71540; }

h2 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px; }

h2:after {
  display: block;
  content: " ";
  width: 100px;
  height: 1px;
  background: #b71540;
  margin: 25px auto 125px auto; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background: #891030;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1; }
  nav ul {
    margin: 0 auto;
    width: 75%;
    text-align: center; }
  nav li {
    display: inline-block;
    margin: 0 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    line-height: 50px;
    font-weight: 300;
    color: #f7f1e3; }
    nav li span {
      font-weight: 800; }
    nav li a:link,
    nav li a:visited {
      color: #f7f1e3;
      transition: all 0.2s ease-in-out; }
    nav li a:active,
    nav li a:hover {
      color: #ffda79; }

#about {
  height: 100vh;
  width: 100%; }

.about-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

#values-bar {
  background: #b71540;
  color: #f7f1e3;
  width: 100%; }

.small-icon {
  font-size: 2rem;
  color: #ffda79;
  padding-right: 20px; }

.big-icon {
  font-size: 4rem;
  color: #ffda79; }

.infobox {
  text-align: center;
  width: 80%;
  margin: 30px auto; }
  .infobox p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 25px; }

#stores {
  background: #f1e7cf;
  text-align: center;
  padding-top: 250px; }
  #stores span {
    color: #b71540; }
  #stores ul {
    text-align: center;
    margin: 0;
    padding: 0; }
  #stores li {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 2px; }

.bakeshop-store-photo {
  width: 100%;
  height: 200px;
  background-size: cover; }

#photo-warsaw {
  background-image: url("../img/warsaw.jpg"); }

#photo-lublin {
  background-image: url("../img/lublin.jpg"); }

#photo-gdynia {
  background-image: url("../img/gdynia.jpg"); }

#photo-wroclaw {
  background-image: url("../img/wroclaw.jpg"); }

.bakeshop-store-name {
  background: #b71540;
  color: #f7f1e3;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 300;
  padding: 20px 0; }

.bakeshop-store-hours {
  background: #a01238;
  padding: 20px;
  color: #ffda79; }

#order {
  text-align: center;
  padding-top: 250px; }

.ordering-info {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../img/warsaw.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0;
  color: #3d3d3d; }

#clients {
  width: 80%;
  margin: 250px 10% 125px 10%; }

q {
  font-weight: 300;
  font-style: italic;
  font-size: 2rem;
  text-align: justify;
  color: #575757; }

.client-name {
  width: 80%;
  margin: 25px auto;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 300;
  color: #7d7d7d; }

#contact {
  padding-top: 250px; }

footer {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  background: #ecddbb; }

input[type=email],
input[type=text] {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #b71540;
  outline: none; }

textarea {
  width: 100%;
  height: 200px;
  background: #fdfbf7;
  border: 1px solid #b71540;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  margin-top: 50px;
  resize: none;
  outline: none; }

@media only screen and (max-width: 768px) {
  #values-bar {
    padding: 25px 0; }

  #stores,
  #order,
  #contact {
    padding-top: 50px; }

  #clients {
    margin: 50px 10% 25px  10%; }

  p {
    margin: 0 5%; }

  h2 {
    margin: 100px 0 25px 0; }

  h2:after {
    margin: 25px auto 50px auto; }

  #clients {
    width: 90%;
    margin: 75px 5%; }

  q {
    font-size: 1.2rem; }

  .client-name {
    font-size: 1rem;
    margin: 5px auto; }

  textarea {
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
