/* Setup */

$light: #f0f0f0;
$dark: #3d3d3d;
$navy: #302f46;
$pink: #ff726c;
$paddingTop: 125px;
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background: $light;
    color: $dark;
}

/* Utilities */

.scroll-lock {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: $light;
}

p {
    line-height: 40px;
    margin: 0 20%;
}

button,
.button {
    display: inline-block;
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 300;
    color: $pink;
    border: 1px solid $pink;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    transition: all 0.2s;
}

button:hover,
.button:hover {
    color: $light;
    border: 1px solid $pink;
    background: $pink;
    cursor: pointer;
}

button:disabled {
    color: darken($light, 30%);
    background: transparent;
    border: 1px solid darken($light, 30%);
    cursor: unset;
}

.color-itself {
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    transition: 0.3s all ease-in-out;
}

.color-itself:hover {
    color: $pink;
}

h1 {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 1px;
    color: $navy;
}

h2 {
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

h2:after {
    display: block;
    content: " ";
    width: 50%;
    height: 1px;
    background: $pink;
    margin: 25px auto 125px auto;
}

h4 {
    font-size: 0.7rem;
    font-weight: 800;
    margin: 1% 2%;
    color: $pink;
    text-transform: uppercase;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* Navbar */

nav {
    position: fixed;
    width: 100%;
    background: darken($navy, 10%);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 1;
    ul {
        margin: 0 auto;
        text-align: center;
    }
    li {
        display: inline-block;
        margin: 0 3%;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 0.7rem;
        line-height: 50px;
        font-weight: 300;
        color: $light;
        span {
            color: $pink;
            font-weight: 800;
        }
        a:link,
        a:visited {
            color: $light;
            transition: all 0.2s ease-in-out;
        }
        a:active,
        a:hover {
            color: $pink;
        }
    }
}

#scroll-down {
    visibility: hidden;
    position: absolute;
    top: 90%;
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: $pink;
    z-index: 3;
}

/* Section: About */

#about {
    background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.9)), url('../img/hero_img.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    text-align: center;
}

#values-bar {
    background: $navy;
    color: $light;
    width: 100%;
}

.small-icon {
    font-size: 2rem;
    color: $pink;
    padding-right: 20px;
}

.big-icon {
    font-size: 4rem;
    color: $pink;
}

.infobox {
    text-align: center;
    width: 80%;
    margin: 30px auto;
    p {
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 300;
        line-height: 25px;
    }
}

/* Section: Stores */

#stores {
    background: darken($light, 5%);
    text-align: center;
    padding-top: $paddingTop;
    span {
        color: darken($pink, 10%);
    }
    ul {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    li {
        margin: 20px 0;
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 800;
        letter-spacing: 2px;
    }
}

.popup-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.store-popup {
    text-align: right;
    border-radius: 20px;
    padding: 20px;
    background: $light;
    position: fixed;
    width: 90%;
    height: 80%;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    ion-icon {
        margin-bottom: 10px;
    }
}

.on-map {
    ion-icon {
        color: $pink;
        font-size: 2rem;
    }
    font-size: 1.25rem;
    color: $dark;
    padding-top: 55px;
    width: 100%;
    height: 100%;
    background: rgba(255,
    255,
    255,
    0.6);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.on-map:hover {
    opacity: 1;
    cursor: pointer;
}

.bakeshop-store-photo {
    width: 100%;
    height: 200px;
    background-size: cover;
}

#photo-warsaw {
    background-image: url('../img/warsaw.jpg');
}

#photo-lublin {
    background-image: url('../img/lublin.jpg');
}

#photo-gdynia {
    background-image: url('../img/gdynia.jpg');
}

#photo-wroclaw {
    background-image: url('../img/wroclaw.jpg');
}

.sm-title {
    background: $navy;
    color: $pink;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 300;
    padding: 20px 0;
    span {
        font-size: 2rem;
        color: lighten($pink, 10%);
    }
}

.sm-text {
    background: darken($navy, 5%);
    padding: 20px;
    color: $light;
    ul {
        margin: 0;
        padding: 0;
        li {
            ion-icon {
                margin-right: 10px;
            }
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1rem;
            margin: 10px 0;
        }
    }
}

/* Section: Order */

#order {
    text-align: center;
    padding-top: $paddingTop;
}

.ordering-info {
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../img/window.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding: 50px 0;
    color: $dark;
}

/* Section: Contact */

#contact {
    padding-top: $paddingTop;
}

input[type=email],
input[type=text] {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    background: transparent;
    border: 0;
    border-bottom: 1px solid $navy;
    outline: none;
}

textarea {
    width: 100%;
    height: 200px;
    background: lighten($light, 5%);
    border: 1px solid $navy;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    margin-top: 50px;
    resize: none;
    outline: none;
}

/* Footer */

footer {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
}

/* Order online page */

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 80%;
    }
}

.ordering-form,
.ordering-form-goods {
    width: 50%;
    margin: 15px auto;
    border: 1px solid darken($light, 10%);
    border-radius: 10px;
    padding: 0;
    background-color: darken($light, 5%);
    img {
        width: 20%;
        margin: 0 auto;
    }
    h2:after {
        margin-bottom: 15px;
    }
    input[type=text],
    input[type=email],
    input[type=tel] {
        border: 1px solid darken($light, 20%);
        border-radius: 10px;
        margin-bottom: 15px;
        font-size: 1rem;
        font-weight: 300;
        width: 100%;
        text-align: left;
        padding: 20px;
    }
}

.valid {
    color: #44bd32;
}

.invalid {
    color: #e84118;
    font-weight: bold;
}

/* Responsive Web Design */

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        height: 100vh;
        align-items: center;
        position: relative;
        margin: 0;
        ul {
            padding: 0;
            li {
                display: block;
                width: 100%;
                margin: 0;
            }
        }
    }
    #scroll-down {
        visibility: visible;
    }
    #about {
        height: auto;
        padding: 100px 0;
    }
    #close-nav-icon {
        visibility: visible;
    }
    #values-bar {
        padding: 25px 0;
    }
    #stores,
    #order,
    #contact {
        padding-top: 50px;
    }
    p {
        margin: 0 5%;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    h2 {
        margin: 100px 0 25px 0;
    }
    h2:after {
        margin: 25px auto 50px auto;
    }
    h3 {
        font-size: 1rem;
        margin: 1rem;
    }
    textarea {
        width: 90%;
    }
    .ordering-form {
        width: 95%;
        padding: 10px;
        img {
            width: 50%;
        }
        h2 {
            margin: 15px 0 25px 0;
        }
    }
}