/* Setup */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  background: #f0f0f0;
  color: #3d3d3d; }

/* Utilities */
.scroll-lock {
  overflow: hidden; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #f0f0f0; }

p {
  line-height: 40px;
  margin: 0 20%; }

button,
.button {
  display: inline-block;
  margin-top: 25px;
  font-size: 1rem;
  font-weight: 300;
  color: #ff726c;
  border: 1px solid #ff726c;
  border-radius: 10px;
  padding: 10px;
  background: transparent;
  transition: all 0.2s; }

button:hover,
.button:hover {
  color: #f0f0f0;
  border: 1px solid #ff726c;
  background: #ff726c;
  cursor: pointer; }

button:disabled {
  color: #a4a4a4;
  background: transparent;
  border: 1px solid #a4a4a4;
  cursor: unset; }

.color-itself {
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  transition: 0.3s all ease-in-out; }

.color-itself:hover {
  color: #ff726c; }

h1 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 1px;
  color: #302f46; }

h2 {
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px; }

h2:after {
  display: block;
  content: " ";
  width: 50%;
  height: 1px;
  background: #ff726c;
  margin: 25px auto 125px auto; }

h4 {
  font-size: 0.7rem;
  font-weight: 800;
  margin: 1% 2%;
  color: #ff726c;
  text-transform: uppercase; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

/* Navbar */
nav {
  position: fixed;
  width: 100%;
  background: #1b1b27;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 1; }
  nav ul {
    margin: 0 auto;
    text-align: center; }
  nav li {
    display: inline-block;
    margin: 0 3%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    line-height: 50px;
    font-weight: 300;
    color: #f0f0f0; }
    nav li span {
      color: #ff726c;
      font-weight: 800; }
    nav li a:link,
    nav li a:visited {
      color: #f0f0f0;
      transition: all 0.2s ease-in-out; }
    nav li a:active,
    nav li a:hover {
      color: #ff726c; }

#scroll-down {
  visibility: hidden;
  position: absolute;
  top: 90%;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: #ff726c;
  z-index: 3; }

/* Section: About */
#about {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.9)), url("../img/hero_img.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.about-text {
  text-align: center; }

#values-bar {
  background: #302f46;
  color: #f0f0f0;
  width: 100%; }

.small-icon {
  font-size: 2rem;
  color: #ff726c;
  padding-right: 20px; }

.big-icon {
  font-size: 4rem;
  color: #ff726c; }

.infobox {
  text-align: center;
  width: 80%;
  margin: 30px auto; }
  .infobox p {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 25px; }

/* Section: Stores */
#stores {
  background: #e3e3e3;
  text-align: center;
  padding-top: 125px; }
  #stores span {
    color: #ff4139; }
  #stores ul {
    text-align: center;
    margin: 0;
    padding: 0; }
  #stores li {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 800;
    letter-spacing: 2px; }

.popup-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }

.store-popup {
  text-align: right;
  border-radius: 20px;
  padding: 20px;
  background: #f0f0f0;
  position: fixed;
  width: 90%;
  height: 80%;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }
  .store-popup ion-icon {
    margin-bottom: 10px; }

.on-map {
  font-size: 1.25rem;
  color: #3d3d3d;
  padding-top: 55px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  .on-map ion-icon {
    color: #ff726c;
    font-size: 2rem; }

.on-map:hover {
  opacity: 1;
  cursor: pointer; }

.bakeshop-store-photo {
  width: 100%;
  height: 200px;
  background-size: cover; }

#photo-warsaw {
  background-image: url("../img/warsaw.jpg"); }

#photo-lublin {
  background-image: url("../img/lublin.jpg"); }

#photo-gdynia {
  background-image: url("../img/gdynia.jpg"); }

#photo-wroclaw {
  background-image: url("../img/wroclaw.jpg"); }

.sm-title {
  background: #302f46;
  color: #ff726c;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 300;
  padding: 20px 0; }
  .sm-title span {
    font-size: 2rem;
    color: #ffa39f; }

.sm-text {
  background: #262537;
  padding: 20px;
  color: #f0f0f0; }
  .sm-text ul {
    margin: 0;
    padding: 0; }
    .sm-text ul li {
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1rem;
      margin: 10px 0; }
      .sm-text ul li ion-icon {
        margin-right: 10px; }

/* Section: Order */
#order {
  text-align: center;
  padding-top: 125px; }

.ordering-info {
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../img/window.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 50px 0;
  color: #3d3d3d; }

/* Section: Contact */
#contact {
  padding-top: 125px; }

/* Custom inputs */
input[type=email],
input[type=text] {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #302f46;
  outline: none; }

textarea {
  width: 100%;
  height: 200px;
  background: #fdfdfd;
  border: 1px solid #302f46;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  margin-top: 50px;
  resize: none;
  outline: none; }

/* Footer */
footer {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center; }

/* Order online page */
.order-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../img/hero_img.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: scroll; }

.logo-image {
  width: 10%;
  margin: 0 auto; }
  .logo-image img {
    margin: 25px 0; }

.ordering-form {
  width: 60%;
  margin: 15px auto;
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 40px;
  background-color: #e3e3e3; }
  .ordering-form h2:after {
    margin-bottom: 15px; }
  .ordering-form input[type=text],
  .ordering-form input[type=email],
  .ordering-form input[type=tel] {
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    text-align: left;
    padding: 20px; }
  .ordering-form button {
    width: 100%; }
  .ordering-form span {
    color: #ff726c; }

select {
  border: 1px solid #ff726c;
  background-color: transparent;
  color: #3d3d3d;
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  text-align: left; }

.selected-plan {
  width: 100%;
  border: 1px solid #ff726c;
  margin: 50px 0;
  border-radius: 10px;
  background: #ffd4d2;
  color: #ff726c; }

.selected-plan-header {
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  background: #ff726c;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #f0f0f0; }

.selected-plan-description {
  padding: 20px; }
  .selected-plan-description p {
    color: #3d3d3d;
    margin: 0;
    text-align: center; }
  .selected-plan-description ul {
    text-align: center; }
  .selected-plan-description li {
    display: inline-block;
    margin: 10px 25px;
    color: #3d3d3d; }
    .selected-plan-description li ion-icon {
      font-size: 0.9rem;
      color: #ff726c;
      margin-right: 10px; }

.selected-plan-price {
  border-top: 1px solid #ff726c;
  padding: 20px;
  color: #3d3d3d;
  font-size: 2rem;
  font-weight: 800;
  text-align: center; }
  .selected-plan-price span {
    color: #ff726c;
    font-size: 1.5rem; }

#starter-selected .selected-plan-header {
  color: #c23616; }

#premium-selected .selected-plan-header {
  color: #192a56; }

.valid {
  color: #44bd32; }

.invalid {
  color: #e84118; }

.inputGroup {
  background-color: transparent;
  display: block;
  margin: 10px 0;
  position: relative; }
  .inputGroup label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden; }
    .inputGroup label:before {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      content: '';
      background-color: #ff726c;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale3d(1, 1, 1);
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1; }
    .inputGroup label:after {
      width: 32px;
      height: 32px;
      content: '';
      border: 2px solid #ff726c;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: 2px 3px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in; }
  .inputGroup input:checked ~ label {
    color: #f0f0f0; }
    .inputGroup input:checked ~ label:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1; }
    .inputGroup input:checked ~ label:after {
      background-color: #3d3d3d;
      border-color: #3d3d3d; }
  .inputGroup input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden; }

#prompt-container {
  background-color: rgba(255, 255, 255, 0.705);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3; }

#prompt {
  text-align: center;
  background-color: #f0f0f0;
  border: 2px solid #ff726c;
  border-radius: 20px;
  position: fixed;
  padding: 50px;
  width: 50%;
  margin: 10px auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card-list {
  width: 100%;
  margin: 20px auto;
  padding: 0;
  text-align: center; }
  .card-list li {
    display: inline;
    margin: 0 5px; }
    .card-list li img {
      width: 8%; }

/* Responsive Web Design */
@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    height: 100vh;
    align-items: center;
    position: relative;
    margin: 0; }
    nav ul {
      padding: 0; }
      nav ul li {
        display: block;
        width: 100%;
        margin: 0; }

  #scroll-down {
    visibility: visible; }

  #about {
    height: auto;
    padding: 100px 0; }

  #close-nav-icon {
    visibility: visible; }

  #values-bar {
    padding: 25px 0; }

  #stores,
  #order,
  #contact {
    padding-top: 50px; }

  p {
    margin: 0 5%;
    font-size: 0.9rem;
    line-height: 1.5rem; }

  h2 {
    margin: 100px 0 25px 0; }

  h2:after {
    margin: 25px auto 50px auto; }

  h3 {
    font-size: 1rem;
    margin: 1rem; }

  textarea {
    width: 90%; }

  .logo-image {
    width: 40%; }

  .ordering-form {
    width: 95%;
    padding: 10px; }
    .ordering-form h2 {
      margin: 15px 0 25px 0; }

  .selected-plan-description li {
    display: block;
    margin: 5px; }
  .selected-plan-description ul {
    padding: 0; }

  #prompt {
    width: 95%; }

  .card-list img {
    width: 15%; } }

/*# sourceMappingURL=style.css.map */
